.modal-popup-ordercancel.modal-popup .modal-header {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    background: rgb(187,40,28);
    background: linear-gradient(90deg, rgba(187,40,28,1) 0%, rgba(244,109,23,1) 100%);
    color: #fff;
}

.modal-popup-ordercancel.modal-popup .modal-title {
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 0;
    padding-bottom: 0PX;
    word-wrap: break-word;
    margin-left: 0px;
    border-bottom: none;
}

.modal-popup-ordercancel.modal-popup .modal-inner-wrap{
    max-width: 600px;
}
.modal-popup-ordercancel.modal-slide .modal-content{
    padding-top: 3rem;
}

.modal-popup-ordercancel .popup-lable{
    font-size: 2rem;
}
.modal-popup-ordercancel.modal-slide .action-close{
    margin: 19px;
}
.modal-popup-ordercancel.modal-slide .action-close:before{
    font-size: 24px;
    color: #ffffff;
}

.modal-popup-ordercancel.modal-popup .modal-footer{
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center !important;
    border-top: none !important;
}
.modal-popup-ordercancel .modal-footer button{
    background: rgb(187,40,28);
    background: linear-gradient(90deg, rgba(187,40,28,1) 0%, rgba(244,109,23,1) 100%);
    color: #fff;
    box-shadow: none;
    min-width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.modal-popup-ordercancel .modal-footer button:hover{
    box-shadow: none;
}
.modal-popup-ordercancel .modal-footer button.action-primary{
    background: #21a0af;
    background: linear-gradient(90deg, #21a0af 0%, #29bcce 100%);
}
.modal-popup-ordercancel .action-primary:hover {
      background: #006bb4;
      border: 1px solid #006bb4;
      color: #fff;
}
.message{
      margin-top: 20px;
}
.modal-popup-ordercancel .message-lable{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.59);
}
.item-data-qty{
    text-align: center;
}
.item-data-price{
    text-align: right;
}
