<?php
/** @var \Perspective\CustomerAvatar\Block\Attributes\Avatar $block */
?>
<?php if($block->customerLoggedIn()): ?>
    <li class="customer-welcome">
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
            <img data-bind="attr:{src: customer().avatar}" width="25px" height="25px" class="avatar-header-links action switch" data-action="customer-menu-toggle" tabindex="-1"/>
        </span>
       <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
        <?php if($block->getChildHtml()):?>
            <div class="customer-menu" data-target="dropdown">
                <?php echo $block->getChildHtml();?>
            </div>
        <?php endif; ?>
    </li>
<?php endif; ?>