<!--<p>Hello</p>-->
<!--<div id="ajaxresponse"></div>-->
<?php
//$ajaxurl = $block->getAjaxUrl();
//?>
<!--<script type="text/x-magento-init">-->
<!--        {-->
<!--            "*": {-->
<!--                "Codextblog_Custom/js/custom": {-->
<!--                    "AjaxUrl": "--><?php //echo $ajaxurl; ?><!--",-->
<!--                    "CurrentProduct": "--><?php //echo 3; ?><!--",-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--</script>-->

<?php

/** @var $viewModel \Perspective\IpLocate\ViewModel\City */

$viewModel = $block->getViewModel();

?>
<span><?= $block->escapeHtml($viewModel->getCity()); ?></span>
