<?php

/**
 *
 * @var $block \Perspective\CountDown\Block\CatalogRuleCountDown
 */
$timerResult = $block->getFasterBtwCaRulAndSpec();
$catalogResult = $block->getFasterCatalogRule();
$specialResult = $block->getProductSpecialDate();
?>

<?php if ($timerResult['status']) : ?>
    <h2>Until the end of the promotion there are</h2>
    <?php $timerBlock = $block->resolveTime($timerResult['timer']) ?>

        <p style = "font-size: 1.2em "><b>
            <?php echo 'Special Date to ' . date('Y-m-d H:i:s', $specialResult)?>
        </b></p>

        <p style = "font-size: 1.2em "><b>
                <?php echo 'Catalog Rule Date to ' .  date('Y-m-d H:i:s', $catalogResult); ?>
        </b></p>



    <script>
        require(['jquery', 'Perspective_CountDown'], function ($, SPC) {

            $('#clock').countdown('<?= /** @noescape */ $timerBlock ?>', function (event) {
                var $this = $(this).html(event.strftime(''
                    + '<span>%D</span> days '
                    + '<span>%H</span> hr '
                    + '<span>%M</span> min '
                    + '<span>%S</span> sec'));
            });
        });
    </script>
    <h2>
        <div id="clock" style="font-style: italic; background-color: #000000; color:#e0e0e0; border-radius: 4px; padding: 5px"></div>
    </h2>

<?php endif; ?>
<h1><?=$timerResult['message'];?></h1>
