<?php
/** @var \Perspective\CustomerAvatar\Block\Customer\Account $block */
?>
<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend">
        <span>Uploading an avatar</span>
    </legend>
    <?php if ($url = $block->getFileUrl()): ?>
        <div class="field">
            <img src="<?php echo $url ?>" alt="image" />
        </div>
    <?php endif;?>
</fieldset>
<fieldset class="fieldset file-upload-avatar">
    <div class="field customer_file_upload">
        <label for="customer_image" class="label"><span><?php /* @escapeNotVerified */
              //  echo __($helper->FileLabel1())
                ?></span></label>
        <div class="control">
            <input type="file" name="customer_image" id="customer_image" title="<?php /* @escapeNotVerified */
            echo __('Custom Image') ?>" class="input-text" data-validate="{required:false}">
        </div>
    </div>
</<fieldset>