<fieldset class="fieldset file-upload">
    <div class="field customer_file_upload">
        <label for="customer_image" class="label"><span><?php /* @escapeNotVerified */
               // echo __($helper->FileLabel1()) ?></span></label>
        <div class="control">
            <input type="file" name="customer_image" id="customer_image" title="<?php /* @escapeNotVerified */
            echo __('Custom Image') ?>" class="input-text" data-validate="{required:false}">
        </div>
    </div>
</<fieldset>
