<?php

?>
<?php use Magento\Framework\Data\Helper\PostHelper;

$_orders = $block->getOrders(); ?>
<?php echo $block->getChildHtml('info');?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Orders') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order #') ?></th>
                <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Date') ?></th>
                <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header');?>
                <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Ship To') ?></th>
                <th scope="col" class="col total"><?php /* @escapeNotVerified */ echo __('Order Total') ?></th>
                <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Status') ?></th>
                <th scope="col" class="col actions">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($_orders as $_order): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></td>
                    <?php $extra = $block->getChildBlock('extra.container'); ?>
                    <?php if ($extra): ?>
                        <?php $extra->setOrder($_order); ?>
                        <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                    <?php endif; ?>
                    <td data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                        <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                            <span><?php /* @escapeNotVerified */ echo __('View Order') ?></span>
                        </a>
                        <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                            <a href="#" data-post='<?php /* @escapeNotVerified */
                                echo $this->helper(PostHelper::class)->getPostData($block->getReorderUrl($_order)) ?>' class="action order">
                                <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                            </a>
                        <?php endif ?>
                        <?php if ($_order->getStatusLabel()=='Pending' && $block->isEnabled()) : ?>
                            <a href="#"  class="action cancel" onclick="deleteOrder(<?php echo $_order->getId() ?>)">
                                <span class="custom-order-cancel" id="<?php echo $_order->getId() ?>"><?php /* @escapeNotVerified */ echo __('Cancel Order') ?></span>
                            </a>
                        <?php endif ?>
                    </td>
                </tr>
            <?php endforeach; ?>
           <!-- <div id="order-data" style="display:none;">
                <input type="hidden" id="orderId" value="<?php /*echo $_order->getEntityId();*/?>"/>
                <input type="hidden" id="orderstatus" value="<?php /*echo $_order->getStatusLabel();*/?>"/>
                <input type="hidden" id="orderstate" value="<?php /*echo $_order->getState();*/?>"/>
            </div>-->
                <div id="popup-modal-cancel" style="display:none;">
                    <p class="popup-lable"> Are you sure to cancel your order?</p>
                    <form action="" method="post" id="cancel-request"  enctype="multipart/form-data" autocomplete="off" data-mage-init='{ "validation":{}}' >
                        <textarea id='comment' name = 'comment' maxlength="350" rows="5" class='comment' placeholder='Please specify the reason for order cancelling.' ></textarea>
                        <div class="message-lable" id='message'><?= $block->escapeHtml(__($this->helper(\Perspective\CancelOrders\Helper\Data::class)->getGeneralConfig('popup_text'))) ?></div>
                    </form>
                </div>
            </tbody>
        </table>
    </div>

    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
<?php endif ?>

<script type = 'text/javascript'>
    function openPopup(){
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function($,modal) {
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    clickableOverlay: true,
                    modalClass: 'modal-popup-ordercancel',
                    modalcloseBtn: true,
                    title: 'Cancel Order Title',
                    buttons: [{
                        text: $.mage.__('Cancel'),
                        class: '',
                        click: function () {
                            this.closeModal();
                        },
                    },
                    {
                        text: $.mage.__('Ok'),
                        class: 'action-primary',
                            click: function () {
                                jQuery('#ajax_loader').show();
                                var orderId = window.currentOrderId;

                                $.ajax({
                                    url: "<?php echo $block->getBaseUrl() . "sales/order/cancel" ?>",
                                    type: 'POST',
                                    data: {"order_id" : orderId},
                                    showLoader: true,
                                    complete: function(){
                                        window.location.reload();
                                    }
                                });
                                this.closeModal();
                        }
                    }]
                };
                var popup = modal(options, $('#popup-modal-cancel'));
                $('#popup-modal-cancel').modal('openModal');
            }
        );
    }

    function deleteOrder(orderId){
        window.currentOrderId = orderId;
        this.openPopup();
    }
</script>
